requests
psycopg2
python-dotenv
fastapi
uvicorn
sqlalchemy
alembic
pytest
pytest-asyncio
pytest-cov
httpx
pytest-mock
apscheduler
pydantic_settings
passlib
python-jose[cryptography]
python-multipart
scikit-learn
pandas
joblib
matplotlib
xlrd
joblib
passlib[bcrypt]
bcrypt
openpyxl
xgboost
google-cloud-aiplatform[all]==1.71.1
vertexai==1.71.1