requests
psycopg2
python-dotenv
fastapi
uvicorn
sqlalchemy
alembic
pytest
pytest-asyncio
pytest-cov
httpx
pytest-mock
apscheduler
pydantic_settings
passlib
python-jose[cryptography]
python-multipart
scikit-learn
pandas
joblib
matplotlib
xlrd
joblib